<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>View Department</title>
</head>
<body>
<h1>View Department: <span th:text="${department.name}"></span></h1>
<a href="/department">Province list</a>
<table border="1" id="department">
    <tr>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <th:block th:each="employee : ${employee}">
        <tr>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
        </tr>
    </th:block>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>