<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
<h1>Create employee</h1>
<p>
    <a href="/employee/list">Employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/employee/save-employee}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <table id="employees">
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>birthDate</td>
            <td><input type="text" th:field="*{birthDate}"/></td>
        </tr>
        <tr>
            <td>address</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>
                <select th:field="*{department}">
                    <option th:each="p : ${department}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create employee"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>