<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Delete employee</title>
</head>
<body>
<h1>Delete employee</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/employee/list">Employee list</a>
</p>
<form th:action="@{/employee/delete-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="employees">
        <tr>
            <td>First name:</td>
            <td th:text="${employee.firstName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        <tr>
            <td>BirthDate:</td>
            <td th:text="${employee.birthDate}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${employee.address}"></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td th:text="${employee.department.name}"></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td th:text="${employee.salary}"></td>
        </tr>
        <td><img width="200px" height="150px" th:src="@{'/i/' + ${employee.image}}"></td>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete delete"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>