<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit employee</title>
</head>
<body>
<h1>Edit Employee</h1>
<p>
    <a href="/employee/list">Employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/employee/edit-employee}" th:object="${employees}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="employees">
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>birthDate:</td>
            <td><input type="text" th:field="*{birthDate}"></td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"></td>
        </tr>
        <td>Image:</td>


            <td>
                <input type="file" th:field="*{image}"/>
           </td>
        <td><img width="200px" height="150px" th:src="@{'/i/' + ${employees.image}}"></td>
        <tr>
            <td>Department:</td>
            <td>
                <select name="department">
                    <option th:each="p : ${department}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{department.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update employee"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>